{% extends 'form.html' %}
{% load crispy_forms_tags %}

{% block form_title %}Edit your profile{% endblock %}
{% block form %}
<form enctype="multipart/form-data" method="post"> {% csrf_token %}
    {{ form|crispy }}
    <div class="pt-4 text-center">
        <button class="btn btn-warning px-5" type="submit">Edit</button>
    </div>
</form>
{% endblock %}
{% block form_footer %}
<div class="px-3 pt-3 border-top">
    <a href="{% url 'password_change' %}">Change your password</a>
</div>
{% endblock%}