{% extends 'form.html' %}
{% load crispy_forms_tags %}

{% block form_title %}Login{% endblock form_title %}
{% block form %}
<form method="post"> {% csrf_token %}
    {{ form|crispy }}
    <a href="{% url 'password_reset' %}">Forgot your password?</a>
    <div class="pt-4">
        <button class="btn btn-primary btn-block" type="submit">Login</button>
    </div>
</form>
{% endblock form %}
{% block form_footer %}
<div class="px-3 pt-3 border-top">
    <p>Don't have an account? - <a href="{% url 'register' %}">Sign up</a>!</p>
</div>
{% endblock form_footer %}
