{% extends 'base.html' %}

{% block content %}
<main class="bg-gray d-flex min-vh-100 align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mb-5">
                <!-- main content block -->
                <div class="card rounded border-0 shadow-sm">
                    <div class="card-body p-5">
                        <div class="d-flex justify-content-between align-items-center mb-4 pb-4 border-bottom">
                            <div class="ms-3">
                                <h4 class="text-uppercase fw-weight-bold mb-0">Reset your password</h4>
                            </div>
                        </div>
                        <div class="justify-content-center align-items-center pb-4 px-2">
                            <div class="alert alert-info">
                                <p>We've emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.<br>If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder.</p>
                            </div>
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</main>
{% endblock %}