{% extends 'form.html' %}

{% block form_title %}Profile{% endblock %}
{% block form %}
<div class="justify-content-center align-items-centerpb-4 px-2">
    <div class="text-center mb-5">
        <div class="mb-4">
            <img class="rounded-circle" src="{{ profile.avatar.url }}" alt="profile avatar" width="200px" height="200px">
        </div>
        <div>
            <h2>{{ profile.username }}</h2>
        </div>
    </div>
    <div class="px-3">
        <div class="d-flex justify-content-center align-items-center mb-4">
            {% if profile.is_redactor or profile.is_staff %}
            <strong class="mr-3">Redactor status</strong>
            {% else %}
            <strong class="mr-3">User status</strong>
            {% endif %}
            {% if request.user.is_redactor or request.user.is_staff and request.user != profile %}
            <div class="ml-1">
                <form action="{% url 'toggle_redactor' profile.pk %}" method="post"> {% csrf_token %}
                    <button class="btn btn-info">Toggle redactor</button>
                </form>
            </div>
            {% endif %}
        </div>
        {% if profile.first_name %}
        <div>
            <span class="mr-3">Firstname:</span>
            <span>{{ profile.first_name }}</span>
        </div>
        {% endif %}
        {% if profile.last_name %}
        <div>
            <span class="mr-3">Lastname:</span>
            <span>{{ profile.last_name }}</span>
        </div>
        {% endif %}
        <div class="mt-2">
            <span class="mr-3">Date joined:</span>
            <span>{{ profile.date_joined|date:"j F Y" }}</span>
        </div>
    </div>
    {% if profile == user %}
    <div class="text-center mt-5">
        <a class="btn btn-warning px-5" href="{% url 'edit' %}">Edit</a>
    </div>
    {% endif %}
</div>
{% endblock %}