{% extends 'base.html' %}

{% block content %}
<main class="bg-gray d-flex min-vh-100 align-items-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 mx-auto mb-5">
                <!-- main content block -->
                <div class="card rounded border-0 shadow-sm">
                    <div class="card-body p-5">
                        <div class="d-flex justify-content-between align-items-center mb-4 pb-4 border-bottom">
                            <div class="ms-3">
                                <h4 class="text-uppercase fw-weight-bold mb-0">Profile</h4>
                            </div>
                        </div>
                        <div class="justify-content-center align-items-centerpb-4 px-2">
                            <div class="text-center mb-5">
                                <div class="mb-4">
                                    <img class="rounded-circle" src="{{ profile.avatar.url }}" alt="profile avatar" width="200px" height="200px">
                                </div>
                                <div>
                                    <h2>{{ profile.username }}</h2>
                                </div>
                            </div>
                            <div class="px-3">
                                {% if profile.first_name %}
                                <div>
                                    <span class="mr-3">Firstname:</span>
                                    <span>{{ profile.first_name }}</span>
                                </div>
                                {% endif %}
                                {% if profile.last_name %}
                                <div>
                                    <span class="mr-3">Lastname:</span>
                                    <span>{{ profile.last_name }}</span>
                                </div>
                                {% endif %}
                                <div class="mt-2">
                                    <span class="mr-3">Date joined:</span>
                                    <span>{{ profile.date_joined|date:"j F Y" }}</span>
                                </div>
                            </div>
                            {% if profile == user %}
                            <div class="text-center mt-5">
                                <a class="btn btn-warning px-5" href="{% url 'edit' %}">Edit</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
</main>
{% endblock %}