{% extends 'form.html' %}
{% load crispy_forms_tags %}


{% include 'form.html' %}
{% block form_title %}Register{% endblock form_title %}
{% block form %}
<form method="post"> {% csrf_token %}
    {{ form|crispy }}
    <div class="pt-4">
        <button class="btn btn-primary btn-block" type="submit">Register</button>
    </div>
</form>
{% endblock form %}
{% block form_footer %}
<div class="px-3 pt-3 border-top">
    <p>Already registered? - <a href="{% url 'login' %}">Login</a></p>
</div>
{% endblock form_footer %}
